*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build/
*/build/
.log
.idea/
*.jks
*.keystore
captures/
output.json
.DSStore
*.iml
cmake-build-debug/
cmake-build-release/
.cache/
app/google-services.json

